
body {
    background-color: black;
}

h2{
    color: rgb(100, 14, 161);
}

#header {
    background-color:black;
    padding-left: 15%;
    padding-right: 15%;
}

.container_datos{
    text-align: center;
}
.texto_cambia {
    position: relative;
    width: 100%; /* o lo que necesites */
    height: 45%;
    overflow: hidden;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
.texto_cambia span {
    position: absolute;
    left: 35%;
    opacity: 0;
    transform: translateX(100%);
    animation: slide 8s infinite; /* Incrementa la duración de la animación */
    white-space: nowrap;
    text-shadow: 12px 15px 20px rgb(100, 17, 114);
}

.texto_cambia span:nth-child(1) {
    animation-delay: 0s;
}

.texto_cambia span:nth-child(2) {
    animation-delay: 4s; /* Ajusta el retraso para que coincida con la nueva duración */
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    40% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
.container_datos > p{
    text-align: center;
    font-size: 18px;
}

#contacto a{
    margin: 10px;
    text-decoration: none;
}

#email{
    width: 40%;
    height: 35px;
    border: 2px solid rgb(100, 17, 114);
    border-radius: 10px;
    background-color: black;
    color: white;
}

.redes_contacto button{
    background-color: black;
    width: auto;
    height: auto;
    border: 1px solid rgb(100, 17, 114);
    border-radius: 10px;
    background-color: black;
}
.redes_contacto button:hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 5px rgb(93, 13, 110));
}
  
.container_imagen{
    padding-right: 2%;
}
.container_imagen img{
    height: 250px;
    border-radius: 15px;
    border: 2px solid rgb(100, 17, 114);
    box-shadow: 18px 15px 80px rgb(93, 13, 110);
}

.container_sobre_mi{
    margin-left: 15%;
    margin-right: 15%;
}

#tecnologias{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.carousel-container {
    overflow: hidden;
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    width: calc(200px * 11); /* Ajustá según la cantidad de logos */
    animation: scroll 23s linear infinite;
}

.carousel-track img {
    width: 80px;
    height: auto;
    margin: 0 20px;
    filter: drop-shadow(0 0 4px #00000099);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@media (prefers-color-scheme: light) {
    body {
        background-color: #dbd7d7; /* Gris claro */
        color: black;
    }
    #header {
        background-color: #d3d3d3;
    }
    p{
        color: black;
    }
    h1{
        color: black;
    }
    span {
        color: black;
    }

    #tecnologias {
        color: black;
    }
}