body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.contenedor-contenido{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 80%;
    background-color: #fff;
}