body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #333;
}

.contenedor-contenido{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 80%;
    background-color: #000000;
    padding: 4% 0%;
}

h1{
    color: white;
}

h2{
    color: rgb(133, 13, 154);
    font-size: 2.2rem;
    align-self: center;
    justify-self: center;
}

h4{
    color: rgb(133, 13, 154);
    font-size: 1.8rem;
    align-self: center;
    justify-self: center;
    padding: 0%;
    margin: 1.5%;
}

p{
    font-size: 1rem;
    text-align: justify;
    padding: 0% 3%;
    margin: 3% 0%;
}