.navbar {
  background-color: rgba(30 30 30 / 20%);
  backdrop-filter: blur(10px);
  color: white;
  position: sticky;
  top: 2rem;
  width: 80%;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
}

.contenedor-elementos {
  display: flex;
  justify-content: space-between;
  padding: 0 3svh;
}

.nombre-completo {
  font-size: 18px;
  justify-content: center;
  align-content: center;
}

.nombre-completo a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

li {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

li a {
  color: rgb(210, 181, 230);
  text-decoration: none;
}

li a:hover {
  color: blueviolet;
}
