.contenedor-sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 5%;
  background-color: rgb(47, 38, 51);
  border-radius: 50px 0;
}

.lista-sobre-mi {
  display: flex;
  flex-direction: column;
}

.lista-sobre-mi li {
  color: rgb(255, 255, 255);
}
