.contenedor-sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 7%;
}

.lista-sobre-mi{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.lista-sobre-mi li{
    color: black;
}

