.contenedor-tecnologias {
  min-height: 100dvh;
  width: 94dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 2rem;
}

.contenido-tecnologias {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.categoria-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 250px;
}

.subtitulo-categoria {
  color: #8b7cd9;
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.contenedor-div-tecnologias {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.contenedor-imagen-tecnologia {
  padding: 0.5dvw;
  background-color: rgba(136, 117, 231, 0.2);
  border: 1px solid rgba(194, 140, 246, 0.18);
  box-shadow: 10px 8px 20px rgb(65, 50, 141, 0.7);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  gap: 1dvw;
}

.contenedor-imagen-tecnologia:hover {
  transform: translateY(-3px);
  border-color: var(--color-accent);
  box-shadow: 0 10px 20px -5px rgba(139, 92, 246, 0.3);
}

.imagen-tecnologia {
  width: 3rem;
  object-fit: contain;
  display: flex;
  justify-self: center;
}

.texto-tecnologia {
  align-self: center;
  justify-self: center;
  font-size: 0.9rem;
  color: #8b7cd9;
}

@media (max-width: 800px) {
  .contenedor-div-tecnologias {
    grid-template-columns: repeat(3, 1fr);
  }

  .contenedor-imagen-tecnologia {
    aspect-ratio: 1;
  }

  .imagen-tecnologia {
    width: 3rem;
  }
}
